html {
    touch-action: manipulation;
}

.wrapper-container {
    display: inline-block;
}

.tetris-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #f82e2ec5;
}

.tetris-panel-container-padding {
    flex-grow: 1;
}

.tetris-panel-container p {
    margin: 0;
    padding: 0;
}

.tetris-button-panel {
    border-style: none;
    width: 100%;
}

.tetris-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #69695a;
}